// xs: 0,
// sm: 576px,
// md: 768px,
// lg: 992px,
// xl: 1200px,
// xxl: 1400px
.contact {
    .card {
        background-color: rgba(225, 225, 225, 0.15);
        border: 1px solid rgba(225, 225, 225, 0.1);
        .card-body{
            .status{
                height: 100%;
            }
        }
    }
}


@include media-breakpoint-down(md) {
    .contact {
        padding-top: 10px;
        padding-bottom: 10px;
        .card {
            .card-title {
                font-size: 3rem;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .contact {
        padding-top: 50px;
        padding-bottom: 50px;

        .card {
            .card-title {
                font-size: 3rem;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .contact {
        .card {
            .card-title {
                font-size: 5rem;
            }
        }
    }
}

@include media-breakpoint-up(xl) {}
