.portfolio{
    .card{
        height: 100%;
        background-color: rgba(225, 225, 225, 0.15);
        border: 1px solid rgba(225, 225, 225, 0.1);
        overflow:hidden;
        .card-img-top{
            overflow: hidden;
            .img_lq{
                width: 100%;
                filter: blur(20px);
                transform: scale(1.05);
            }
            .img_hq{
                width: 100%;
                animation-name: blurtonormal;
                animation-duration: 0.3s;
            }
        }
        .card-footer{
            border-top: 0;
            background-color: rgba(225, 225, 225, 0);
            a{
                width: 100%;
            }
        }
    }

}



// xs: 0,
// sm: 576px,
// md: 768px,
// lg: 992px,
// xl: 1200px,
// xxl: 1400px

@include media-breakpoint-down(md) {
    .portfolio{
        padding-top: 10px;
        padding-bottom: 50px;
    }
}

@include media-breakpoint-up(md) {
    .portfolio{
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {

}
