.welcome-page{
    height: 100%;
    .background-wrapper{
        top: 12.5%;
        right: 12.5%;
        filter: blur(5rem);
        opacity: 0.8;
        img {
            user-select: none;
            animation:hue 40s ease-in-out infinite;

        }
    }
    .welcome-text{
        font-size: 64px;
        line-height: 1.1;
    }
}



@include media-breakpoint-down(sm) {
    .welcome-page{
        .welcome-text{
            font-size: 48px;
        }
    }
}

@include media-breakpoint-down(md) {

    .welcome-page{
        .welcome-text{
            font-size: 48px;
        }
    }

}

@keyframes hue {
    0%   {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
        width: 512px;
    }
    50%  {
        filter: hue-rotate(80deg);
        width: 588px;
    }
    100% {
        transform: rotate(359deg);
        filter: hue-rotate(0deg);
        width: 512px;
    }
}


