.welcome-page{
    height: 100%;
    .welcome-text{
        font-size: 64px;
        line-height: 1.1;
    }
}



@include media-breakpoint-down(sm) {
    .welcome-page{
        .welcome-text{
            font-size: 48px;
        }
    }
}

@include media-breakpoint-down(md) {

    .welcome-page{
        .welcome-text{
            font-size: 48px;
        }
    }

}

