html{
    height: 100%;
    body{
        height: 100%;
        font-family: $font-family-sans-serif;
        .main{
            padding: 4rem 0;
            height: 100%;
        }

        .btn{
            transition: none;
            &.btn-primary{
                color: $light;
            }
        }

        a{
            // text-decoration: none;
        }
    }
}
