//common settings
.mode-dark{
    background-color: $dark;
    color: $light;

    nav{
        background-color: $dark;
        ion-icon{
            color: $light;
        }
        .navbar-nav
        {
            .nav-link {
                color: $light;
            }
        }
    }

    footer{
        background-color: $dark;
        a {
            color: $light;
        }
    }
}

.mode-light{
    background-color: $light;
    color: $dark;
    nav{
        background-color: $light;

        .navbar-nav{
            .nav-link {
                color: $dark;
            }
        }
    }
    footer{
        background-color: $light;
        a {
            color: $dark;
        }
    }
}
