.mode-dark{
    background-color: $dark;
    color: $light;
    nav{
        .dark-btn{
            display: none;
        }
        .light-btn{
            display: inline;
        }
        .navbar-nav
        {
            .nav-link {
                color: $light;
            }
        }
    }

    footer{
        a {
            color: $light;
        }
    }
}
.mode-light{
    background-color: $light;
    color: $dark;
    nav{
        .dark-btn{
            display: inline;
        }
        .light-btn{
            display: none;
        }
        .navbar-nav{
            .nav-link {
                color: $dark;
            }
        }
    }
    footer{
        a {
            color: $dark;
        }
    }
}
