nav{
    padding: 0.5rem 3rem 0.5rem 3rem;

    .nav-link{
        text-decoration: none;
    }

}

@include media-breakpoint-down(sm) {
    nav{
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}


