nav {
    .navbar-toggler {
        &:focus {
            text-decoration: none;
            outline: 0;
            box-shadow: none;
        }
    }

    // .nav-link {
    //     padding: 0 1.5rem 0 1.5rem !important;
    //     text-decoration: none;
    //     &:hover {
    //         transition: color 0.5s ease;
    //         color: $indigo !important;
    //     }
    // }

    .navbar-brand {
        &:hover {
            color: $primary;
        }
        img {
            width: 32px;
        }
        label {
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}

@include media-breakpoint-down(lg) {
    nav {
        padding: 0;
        .nav-link {
            font-size: 1.2rem;
        }
    }
}
@include media-breakpoint-up(lg) {
    nav {
        padding: 0.5rem 3rem 0.5rem 3rem;
        #navbarNav {
            .nav-link {
                font-size: 1rem;
            }
        }
    }
}
