nav{
    padding: 0.5rem 3rem 0.5rem 3rem;
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
    }

    .nav-link{
        padding: 0 1.5rem 0 1.5rem!important;
        text-decoration: none;
        &:hover{
            transition: color 0.5s ease;
            color: $indigo!important;
        }
    }

    #theme_btn{
        width: 1.2rem;
    }

    .navbar-brand {
        &:hover{
            color: $primary;
        }
        img{
            width: 32px;
        }
        label{
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
        }
    }

}

@include media-breakpoint-down(sm) {
    nav{
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
}
